<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
    <ul>
    <% @meeting.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.datetime_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.datetime_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
