<%= content_for :javascript do %>
  <%= javascript_include_tag 'event_calendar' %>
<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'event_calendar' %>
<% end %>

<h1>Upcoming Meetings</h1>

<div class="meetings_list">
  <% unless @meetings.empty? %>
    <ul class="fancy_list">
      <% @meetings.each do |meeting| %>
        <li><%= link_to meeting.title.titleize, meeting_path(meeting) %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>You have no scheduled meetings. Feel free to <%= link_to "request one", new_meeting_path %>.</h3>
  <% end %>
</div>

<h3>Meeting Calendar</h3>

<%= raw(event_calendar) %>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
