<div class="meeting">
  <h1>Group Meeting: <%= @meeting.title %></h1>

  <% if @meeting.from_date and @meeting.to_date %>
    <h3>Scheduled for <%= @meeting.from_date %> to <%= @meeting.to_date %></h3>
  <% end %>

  <% if @meeting.location %>
    <h3>Location: <%= @meeting.location %></h3>
  <% end %>

  <h2>Meeting Agenda</h2>

  <h3>Add an item to the agenda:</h3>
  <%= render :partial => 'agenda_items/form', :locals => {:agenda_item => @meeting.agenda_items.build } %>

  <% if @meeting.agenda_items.reject(&:new_record?).empty? %>
    <h3> There are no agenda Items.</h3>
  <% else %>
    <ol class="meeting_agenda">
      <% for agenda_item in @meeting.agenda_items.reject(&:new_record?) -%>
        <li>
          <%= agenda_item.name %>
          <%# TODO: nested form to complete it %>
        </li>
      <% end -%>
    </ol>
  <% end %>
</div>
