<h1>Listing group_memberships</h1>

<table>
  <tr>
    <th>Leader</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_memberships.each do |group_membership| %>
  <tr>
    <td><%= group_membership.leader %></td>
    <td><%= group_membership.status %></td>
    <td><%= link_to 'Show', group_membership %></td>
    <td><%= link_to 'Edit', edit_group_membership_path(group_membership) %></td>
    <td><%= link_to 'Destroy', group_membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group membership', new_group_membership_path %>
