<h1 class="centered_title">My Groups</h1>

<div class="groups_list">
  <% unless @groups.empty? %>
    <ul class="fancy_list">
      <% @groups.each do |group| %>
        <li><%= link_to group.name.titleize, group_path(group) %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>You have not joined any groups yet. You can <%= link_to("join one", new_group_membership_path) %> or <%= link_to "create one", new_group_path %></h3>
  <% end %>
</div>

<div class="new_group">
  <%= link_to 'New Group', new_group_path %>
</div>

<h3>Suggested Groups to Join</h3>
<div class="suggested_groups">
  <% unless @suggested_groups.empty? %>
    <%= render :partial => "listed_group", :collection => @suggested_groups %>
  <% else %>
    <h5>Groupee could not find any suggested groups. Why don't you <%= link_to "create one", new_group_path %></h5>
  <% end %>
</div>
