<h1>Manage Course</h1>

<h2>Currently Enrolled Students</h2>
<table id="enrolled_users">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>SID</th>
      <th>Contact</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if !@course.students.blank? -%>
      <% for student in @course.students -%>
        <tr id="user_<%= student.id %>">
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.studentid %></td>
          <td><%= link_to student.email, "mailto:#{student.email}" %></td>
          <td></td>
        </tr>
      <% end -%>
    <% else -%>
      <tr colspan="5">
        There are currently no students enrolled in this course.
      </tr>
    <% end -%>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Edit Course Details</h2>

<%= render 'form' %>
