<h1><%= @course.title %> (<%= @course.catalog_name %>)</h1>

<h2>Course Details</h2>

<ul>
  <li>
    <b>Sln:</b>
    <%= @course.sln %>
  </li>

  <li>
    <b>Catalog name:</b>
    <%= @course.catalog_name %>
  </li>

  <li>
    <b>Section:</b>
    <%= @course.section %>
  </li>

  <li>
    <b>Scheduled: </b>
    <%= @course.quarter %> <%= @course.year %>
  </li>
</ul>


