<!DOCTYPE html>
<html>
<head>
  <title>Groupee: Groups Get It Done</title>
  <%= stylesheet_link_tag 'groupee.css' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
  <%= csrf_meta_tag %>
  <%= content_for :stylesheet %>
  <%= content_for :javascript %>
</head>
<body>

  <div id="layout_container">
    <div id="layout_body">
      <div id="layout_header">
        <%= link_to root_path do %>
          <%= image_tag "groupee_cropped_small.png" %>
        <% end %>
        <div id="header_text">
          <h1 id="site_title">Groupee</h1>
          <% if current_user and current_user.instructor?  %>
            <h2 class="mode">Instructor Mode</h2>
          <% end %>
          <h3 id="site_menu">
            <%= link_to_unless_current "Groups", groups_path %> |
            <%= link_to_unless_current "Meetings", meetings_path %> |
            <%= link_to_unless_current "Courses", courses_path %>
          </h3>
        </div>
      </div>

      <% if alert %>
        <div id="alert">
          <%= image_tag "icons/error.png" %>
          <%= alert %>
        </div>
      <% end %>

      <% if notice %>
        <div id="notice">
          <%= image_tag "icons/information.png" %>
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>

      <div id="layout_footer">
        <% if user_signed_in? %>
          <b>Signed in as <%= current_user.full_name %>.</b>
          <%= link_to "Log Out", destroy_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>

</body>
</html>
